USE [ap2prep'order]
GO
/****** Object:  Table [dbo].[Article]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[idArticle] [int] NOT NULL,
	[libelleArticle] [varchar](100) NOT NULL,
	[QuantiteTotale] [int] NULL,
	[numZone] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idArticle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cariste]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cariste](
	[numCariste] [int] NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[mdp] [nvarchar](50) NOT NULL,
	[idZone] [int] NOT NULL,
 CONSTRAINT [PK_Cariste] PRIMARY KEY CLUSTERED 
(
	[numCariste] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commande]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commande](
	[idCommande] [int] NOT NULL,
	[jourPreparation] [datetime] NOT NULL,
	[idResponsableCommande] [int] NOT NULL,
	[Etat] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK1] PRIMARY KEY CLUSTERED 
(
	[idCommande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commander]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commander](
	[idSousCommande] [int] NOT NULL,
	[idArticle] [int] NOT NULL,
	[qteCommande] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSousCommande] ASC,
	[idArticle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Palette]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Palette](
	[emplacement] [varchar](50) NULL,
	[nombre] [int] NOT NULL,
	[etage] [varchar](2) NULL,
	[allee] [varchar](2) NULL,
	[numZone] [int] NOT NULL,
	[idArticlePalette] [int] NOT NULL,
	[numCaristePalette] [int] NOT NULL,
	[nombrePlein] [int] NOT NULL,
	[vide] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preparateur]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preparateur](
	[numPreparateur] [int] NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[mdp] [nvarchar](50) NOT NULL,
	[idZone] [int] NOT NULL,
 CONSTRAINT [PK_Preparateur] PRIMARY KEY CLUSTERED 
(
	[numPreparateur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Responsable]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Responsable](
	[numResponsable] [int] NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[mdp] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Responsable] PRIMARY KEY CLUSTERED 
(
	[numResponsable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SousCommande]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SousCommande](
	[idSousCommande] [int] NOT NULL,
	[idCommande] [int] NOT NULL,
	[idZone] [int] NOT NULL,
	[idPreparateurSousCommande] [int] NULL,
 CONSTRAINT [PK2] PRIMARY KEY CLUSTERED 
(
	[idSousCommande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zone]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zone](
	[numZone] [int] NOT NULL,
	[nom] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[numZone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Article] ([idArticle], [libelleArticle], [QuantiteTotale], [numZone]) VALUES (1, N'Tapis', 150, 1)
INSERT [dbo].[Article] ([idArticle], [libelleArticle], [QuantiteTotale], [numZone]) VALUES (2, N'Riz', 200, 1)
INSERT [dbo].[Article] ([idArticle], [libelleArticle], [QuantiteTotale], [numZone]) VALUES (3, N'Haribo Croco', 120, 1)
GO
INSERT [dbo].[Cariste] ([numCariste], [login], [mdp], [idZone]) VALUES (1, N'Kelvin', N'Admin123', 1)
INSERT [dbo].[Cariste] ([numCariste], [login], [mdp], [idZone]) VALUES (2, N'Sans', N'Admin234', 3)
GO
INSERT [dbo].[Commande] ([idCommande], [jourPreparation], [idResponsableCommande], [Etat]) VALUES (1, CAST(N'2024-12-20T00:00:00.000' AS DateTime), 1, N'"En cours"')
INSERT [dbo].[Commande] ([idCommande], [jourPreparation], [idResponsableCommande], [Etat]) VALUES (2, CAST(N'2024-12-27T00:00:00.000' AS DateTime), 2, N'"A faire"')
INSERT [dbo].[Commande] ([idCommande], [jourPreparation], [idResponsableCommande], [Etat]) VALUES (3, CAST(N'2025-01-25T00:00:00.000' AS DateTime), 2, N'"A faire"')
GO
INSERT [dbo].[Commander] ([idSousCommande], [idArticle], [qteCommande]) VALUES (1, 1, 15)
INSERT [dbo].[Commander] ([idSousCommande], [idArticle], [qteCommande]) VALUES (1, 2, 20)
INSERT [dbo].[Commander] ([idSousCommande], [idArticle], [qteCommande]) VALUES (10, 28, 27)
GO
INSERT [dbo].[Palette] ([emplacement], [nombre], [etage], [allee], [numZone], [idArticlePalette], [numCaristePalette], [nombrePlein], [vide]) VALUES (N'A01-E00-1', 10, N'00', N'01', 1, 1, 1, 10, 0)
INSERT [dbo].[Palette] ([emplacement], [nombre], [etage], [allee], [numZone], [idArticlePalette], [numCaristePalette], [nombrePlein], [vide]) VALUES (N'A02-E01-2', 3, N'01', N'02', 2, 2, 2, 5, 0)
INSERT [dbo].[Palette] ([emplacement], [nombre], [etage], [allee], [numZone], [idArticlePalette], [numCaristePalette], [nombrePlein], [vide]) VALUES (N'A03-E02-3', 5, N'02', N'03', 3, 3, 2, 7, 0)
GO
INSERT [dbo].[Preparateur] ([numPreparateur], [login], [mdp], [idZone]) VALUES (1, N'Evan', N'Admin123', 1)
INSERT [dbo].[Preparateur] ([numPreparateur], [login], [mdp], [idZone]) VALUES (2, N'Vavane', N'Admin234', 2)
INSERT [dbo].[Preparateur] ([numPreparateur], [login], [mdp], [idZone]) VALUES (3, N'Terrine', N'Admin123', 3)
GO
INSERT [dbo].[Responsable] ([numResponsable], [login], [mdp]) VALUES (1, N'Quentin', N'Admin123')
INSERT [dbo].[Responsable] ([numResponsable], [login], [mdp]) VALUES (2, N'Starpiou', N'Admin234')
GO
INSERT [dbo].[SousCommande] ([idSousCommande], [idCommande], [idZone], [idPreparateurSousCommande]) VALUES (1, 1, 1, 1)
INSERT [dbo].[SousCommande] ([idSousCommande], [idCommande], [idZone], [idPreparateurSousCommande]) VALUES (2, 1, 2, 2)
INSERT [dbo].[SousCommande] ([idSousCommande], [idCommande], [idZone], [idPreparateurSousCommande]) VALUES (3, 2, 2, 2)
GO
INSERT [dbo].[Zone] ([numZone], [nom]) VALUES (1, N'Sec')
INSERT [dbo].[Zone] ([numZone], [nom]) VALUES (2, N'DPH')
INSERT [dbo].[Zone] ([numZone], [nom]) VALUES (3, N'Liquide')
GO
ALTER TABLE [dbo].[Palette] ADD  DEFAULT ((0)) FOR [idArticlePalette]
GO
ALTER TABLE [dbo].[Palette] ADD  DEFAULT ((0)) FOR [numCaristePalette]
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FK_Article_Zone] FOREIGN KEY([numZone])
REFERENCES [dbo].[Zone] ([numZone])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK_Article_Zone]
GO
ALTER TABLE [dbo].[Cariste]  WITH NOCHECK ADD  CONSTRAINT [FK_Cariste_Zone] FOREIGN KEY([idZone])
REFERENCES [dbo].[Zone] ([numZone])
GO
ALTER TABLE [dbo].[Cariste] CHECK CONSTRAINT [FK_Cariste_Zone]
GO
ALTER TABLE [dbo].[Commande]  WITH NOCHECK ADD  CONSTRAINT [FK1] FOREIGN KEY([idResponsableCommande])
REFERENCES [dbo].[Responsable] ([numResponsable])
GO
ALTER TABLE [dbo].[Commande] CHECK CONSTRAINT [FK1]
GO
ALTER TABLE [dbo].[Commander]  WITH CHECK ADD FOREIGN KEY([idArticle])
REFERENCES [dbo].[Article] ([idArticle])
GO
ALTER TABLE [dbo].[Commander]  WITH CHECK ADD FOREIGN KEY([idSousCommande])
REFERENCES [dbo].[SousCommande] ([idSousCommande])
GO
ALTER TABLE [dbo].[Palette]  WITH CHECK ADD  CONSTRAINT [FK_Palette_Article] FOREIGN KEY([idArticlePalette])
REFERENCES [dbo].[Article] ([idArticle])
GO
ALTER TABLE [dbo].[Palette] CHECK CONSTRAINT [FK_Palette_Article]
GO
ALTER TABLE [dbo].[Palette]  WITH CHECK ADD  CONSTRAINT [FK_Palette_Cariste] FOREIGN KEY([numCaristePalette])
REFERENCES [dbo].[Cariste] ([numCariste])
GO
ALTER TABLE [dbo].[Palette] CHECK CONSTRAINT [FK_Palette_Cariste]
GO
ALTER TABLE [dbo].[Preparateur]  WITH NOCHECK ADD  CONSTRAINT [FK_Preparateur_Zone] FOREIGN KEY([idZone])
REFERENCES [dbo].[Zone] ([numZone])
GO
ALTER TABLE [dbo].[Preparateur] CHECK CONSTRAINT [FK_Preparateur_Zone]
GO
ALTER TABLE [dbo].[SousCommande]  WITH CHECK ADD  CONSTRAINT [FK_idPreparateurSousCommande] FOREIGN KEY([idPreparateurSousCommande])
REFERENCES [dbo].[Preparateur] ([numPreparateur])
GO
ALTER TABLE [dbo].[SousCommande] CHECK CONSTRAINT [FK_idPreparateurSousCommande]
GO
ALTER TABLE [dbo].[SousCommande]  WITH NOCHECK ADD  CONSTRAINT [FK2] FOREIGN KEY([idCommande])
REFERENCES [dbo].[Commande] ([idCommande])
GO
ALTER TABLE [dbo].[SousCommande] CHECK CONSTRAINT [FK2]
GO
/****** Object:  StoredProcedure [dbo].[AjoutUtilisateur]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AjoutUtilisateur] (
    @login NVARCHAR(50), 
    @mdp NVARCHAR(50), 
    @idZone INT,
    @role TINYINT
    )
AS
BEGIN
    DECLARE @id INT;

    IF(@role = 1)
    BEGIN
        SELECT @id = MAX(numCariste)
        FROM Cariste
    END
    ELSE
    BEGIN
        SELECT @id = MAX(numPreparateur)
        FROM Preparateur
    END

    SET @id = @id + 1;

    IF(@role = 1)
    BEGIN
        INSERT INTO Cariste (numCariste, login, mdp, idZone)
        VALUES (@id, @login, @mdp, @idZone)
    END
    ELSE
    BEGIN
        INSERT INTO Preparateur (numPreparateur, login, mdp, idZone)
        VALUES (@id, @login, @mdp, @idZone)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[CommandeCreation]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CommandeCreation] (@date NVARCHAR(50), @idResp INT)
AS
BEGIN
	DECLARE @loginResp NVARCHAR(50)
	DECLARE @idCommande INT
	DECLARE @convertedDate DATETIME
	DECLARE @idSousComMax INT

	SELECT @loginResp = login FROM Responsable WHERE numResponsable = @idResp

	SET @convertedDate = CAST(@date AS DATETIME)

	SELECT @idCommande = MAX(idCommande) FROM Commande
	SET @idCommande = @idCommande + 1

	SELECT @idSousComMax = MAX(idSousCommande) FROM SousCommande

	INSERT INTO Commande 
	VALUES (@idCommande, @convertedDate, @idResp, 'A faire')

	INSERT INTO SousCommande
	VALUES (@idSousComMax + 1, @idCommande, 1, NULL)
	INSERT INTO SousCommande
	VALUES (@idSousComMax + 2, @idCommande, 2, NULL)
	INSERT INTO SousCommande
	VALUES (@idSousComMax + 3, @idCommande, 3, NULL)
END
GO
/****** Object:  StoredProcedure [dbo].[CommandeInsertion]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CommandeInsertion] (@idArticle INT, @quantite INT, @idZone INT)
AS
BEGIN
    DECLARE @idCommandeEdition INT
    DECLARE @idSousComZone1 INT
    DECLARE @idSousComZone2 INT
    DECLARE @idSousComZone3 INT

    SELECT @idCommandeEdition = MAX(idCommande) FROM Commande

    SELECT @idSousComZone1 = idSousCommande FROM SousCommande WHERE idCommande = @idCommandeEdition AND idZone = 1
    SELECT @idSousComZone3 = idSousCommande FROM SousCommande WHERE idCommande = @idCommandeEdition AND idZone = 2
    SELECT @idSousComZone2 = idSousCommande FROM SousCommande WHERE idCommande = @idCommandeEdition AND idZone = 3

	IF (@idZone = 1)
	BEGIN
		INSERT INTO Commander
		VALUES (@idSousComZone1, @idArticle, @quantite)
	END
	IF (@idZone = 2)
	BEGIN
		INSERT INTO Commander
		VALUES (@idSousComZone2, @idArticle, @quantite)
	END
	IF (@idZone = 3)
	BEGIN
		INSERT INTO Commander
		VALUES (@idSousComZone3, @idArticle, @quantite)
	END
END
GO
/****** Object:  StoredProcedure [dbo].[Connection]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Connection] 
    @login nvarchar(50),
	@mdp nvarchar(50),
	@table nvarchar(50),
	@id int OUTPUT
AS
BEGIN

	DECLARE @result as tinyint;
	SET @id = 0;

	if(@table = 'Responsable')
	Begin
		SELECT @id = numResponsable
		FROM Responsable
		WHERE login = @login AND mdp = @mdp;
	End

	if(@table = 'Preparateur')
	Begin
		SELECT @id = numPreparateur
		FROM Preparateur
		WHERE login = @login AND mdp = @mdp;
	End

	if(@table = 'Cariste')
	Begin
		SELECT @id = numCariste
		FROM Cariste
		WHERE login = @login AND mdp = @mdp;
	End
	RETURN @id;
	
END
GO
/****** Object:  StoredProcedure [dbo].[EditUtilisateur]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EditUtilisateur] (@role TINYINT, @id INT, @action NVARCHAR(50), @login NVARCHAR(50), @mdp NVARCHAR(50), @zone INT)
AS
BEGIN
    IF (@action = 'modif')
    BEGIN
        IF (@role = 1)
        BEGIN
            IF (@mdp = 'null')
            BEGIN
                UPDATE Cariste SET login = @login, idZone = @zone WHERE numCariste = @id
            END
            ELSE
            BEGIN
                UPDATE Cariste SET login = @login, mdp = @mdp, idZone = @zone WHERE numCariste = @id
            END
        END
        ELSE
        BEGIN
            IF (@mdp = 'null')
            BEGIN
                UPDATE Preparateur SET login = @login, idZone = @zone WHERE numPreparateur = @id
            END
            ELSE
            BEGIN
                UPDATE Preparateur SET login = @login, mdp = @mdp, idZone = @zone WHERE numPreparateur = @id
            END
        END
    END
    ELSE
    BEGIN
        IF (@role = 1)
        BEGIN
            DELETE FROM Cariste WHERE numCariste = @id
        END
        ELSE
        BEGIN
            DELETE FROM Preparateur WHERE numPreparateur = @id
        END
    END
END
GO
/****** Object:  StoredProcedure [dbo].[GetZone]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetZone]
AS
BEGIN

    SELECT nom
    FROM Zone;
END
GO
/****** Object:  StoredProcedure [dbo].[LierPreparateurCommande]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LierPreparateurCommande] (@loginPreparateur NVARCHAR(50), @idSousCommande INT)
AS
BEGIN
	DECLARE @numPreparateur INT;

	SELECT @numPreparateur = numPreparateur FROM PREPARATEUR WHERE login = @loginPreparateur

	UPDATE SousCommande
	SET idPreparateurSousCommande = @numPreparateur
	WHERE idSousCommande = @idSousCommande
END
GO
/****** Object:  StoredProcedure [dbo].[PaletteRemplir]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PaletteRemplir] (@emplacement nvarchar(50))
AS
BEGIN

    Update Palette
    Set vide = 0, nombre = nombrePlein
    where emplacement = @emplacement

END
GO
/****** Object:  StoredProcedure [dbo].[PalettesRemplie]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PalettesRemplie] 
    @ZoneNum INT,
    @id int
AS 
BEGIN
     SELECT emplacement, nombre, etage, allee, Palette.numZone, idArticlePalette, nombrePlein, libelleArticle
    FROM Palette
    inner join article on idArticlePalette = idArticle
    WHERE Palette.vide = 0 AND Palette.numZone = @ZoneNum and etage = '00' and numCaristePalette = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[PalettesVide]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PalettesVide] 
    @ZoneNum INT,
    @id int
AS
BEGIN
     SELECT emplacement, nombre, etage, allee, Palette.numZone, idArticlePalette, nombrePlein, libelleArticle
    FROM Palette
    inner join article on idArticlePalette = idArticle
    WHERE Palette.vide = 1 AND Palette.numZone = @ZoneNum and etage = '00' and numCaristePalette = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[PaletteVider]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PaletteVider] (@emplacement nvarchar(50))
AS
BEGIN

    Update Palette
    Set vide = 1, nombre = 0
    where emplacement = @emplacement

END
GO
/****** Object:  StoredProcedure [dbo].[ShowCommande]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ShowCommande]
AS
BEGIN
    BEGIN
        SELECT idCommande, jourPreparation, login
        FROM Commande
        INNER JOIN Responsable on idResponsableCommande = numResponsable
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ShowCommandeParZone]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ShowCommandeParZone] (@idZoneSelected INT)
AS
BEGIN
    BEGIN
        SELECT C.idCommande, jourPreparation, idResponsableCommande, Etat
        FROM Commande as C
        INNER JOIN SousCommande as S on S.idCommande = C.idCommande
        INNER JOIN Preparateur as P on P.numPreparateur = S.idPreparateurSousCommande
		WHERE P.idZone = @idZoneSelected
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ShowCommander]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ShowCommander] (@idSousCommandeSelected INT)
AS
BEGIN
    BEGIN
        SELECT libelleArticle, qteCommande
        FROM Commander as C
        INNER JOIN Article as A on C.idArticle = A.idArticle
        WHERE C.idSousCommande = @idSousCommandeSelected
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ShowPreparateurs]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ShowPreparateurs]
AS
BEGIN
	SELECT login, idZone
	FROM Preparateur
END
GO
/****** Object:  StoredProcedure [dbo].[ShowSousCommande]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ShowSousCommande] (@idCommandeSelected INT)
AS
BEGIN
    BEGIN
        SELECT idSousCommande, idZone
		FROM SousCommande
        WHERE idCommande = @idCommandeSelected
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ShowSousCommandeZoneNonAssigne]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ShowSousCommandeZoneNonAssigne] (@idZone INT)
AS
BEGIN
    SELECT SC.idSousCommande, SC.idCommande
    FROM SousCommande SC
    INNER JOIN Commande C ON SC.idCommande = C.idCommande
    WHERE SC.idPreparateurSousCommande IS NULL
      AND NOT EXISTS (
          SELECT 1
          FROM SousCommande SC2
          INNER JOIN Preparateur P ON SC2.idPreparateurSousCommande = P.numPreparateur
          WHERE SC2.idCommande = SC.idCommande
            AND P.idZone = @idZone
      )
END
GO
/****** Object:  StoredProcedure [dbo].[ShowUtilisateur]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ShowUtilisateur] (@role TINYINT)
AS
BEGIN
    IF (@role = 1)
    BEGIN
        SELECT numCariste, login, idZone
        FROM Cariste
    END
    ELSE
    BEGIN
        SELECT numPreparateur, login, idZone
        FROM Preparateur
    END
END
GO
/****** Object:  StoredProcedure [dbo].[StockageEtage]    Script Date: 20/12/2024 13:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StockageEtage] 
    @ZoneNum INT
AS
BEGIN
     SELECT emplacement, nombre, etage, allee, Palette.numZone, idArticlePalette, nombrePlein, libelleArticle
    FROM Palette
    inner join article on idArticlePalette = idArticle
    WHERE Palette.numZone = @ZoneNum and etage != '00';
END
GO
